button {
	width: 100px;
	height: 100px;
	font-size: 20px;
	margine: 0px;
	padding: 0px;
}

input {
	width: 395px;
	height: 50px;
	margin-bottom: 10px;
	font-size: 15px;
	text-align: right;
}

.bicButton {
	width: 200px;
}